html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
  font-family: 'Lucida Grande';
}

#hp {
  background: url('../image/hp-bg.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

#ticket {
  background: url('../image/hp-bg.png');
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  color: #FFFFFF;
  padding-bottom: 1em;
}

#sub-banner {
  width: 100%;
}

#first-wrap {
  margin-top: 70px;
}

.title_div {
  grid-area: head;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.content_div {
  grid-area: cont;
}

.search_div {
  grid-area: serc;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #D2D2D2;
  padding: 8px;
}

/* Grid layout for MedalBoard & AtheleteBoard page */
.grid {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(10, 1fr);
  text-align: left;
  grid-template-areas:
    "head head head head head head head head head head"
    "serc serc serc serc serc serc serc serc serc serc"
    "sidL cont cont cont cont cont cont cont cont sidR";
  padding-bottom: 5em;
}

button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#title-img {
  margin-top: 30px;
  width: 15%;
}

#view_trip, #back_page {
  margin-left: 42%;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 17px;
  margin-bottom: 150px;
  font-family: athelas, serif;
  font-style: normal;
  position: fixed;
  margin-bottom: 50px;
  border: 1px solid #FFF;
  border-radius: 3px;
}

.wrap {
  margin: 30px;
  margin-left: 25%;
}

.wrap>* {
  text-align: left;
  font-family: Menlo, monospace;
  font-size: 25px;
}

.search-btn {
  margin-left: 75%;
  font-size: 16px;
  margin-top: 20px;
  padding: 12px 5px;
  background-color: #CE7444;
  color: white;
  font-family: Menlo, monospace;
  padding: 10px;
}

.wrap input, .group input {
  border: none;
  background-color: transparent;
  margin-left: 10px;
  width: 25%;
  border-bottom: 1.5px solid #CE7444;
  color: #FFFFFF;
}

.group input {
  width: 30%;
  color: #3F3F3F;
  text-align: center;
  font-size: 15px;
}

select {
  font-family: Menlo, monospace;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid #CE7444;
  border-radius: 0px;
  color: #FFFFFF;
  background-color: Transparent;
  -webkit-appearance: menulist;
}

#arrive, #depart {
  font-size: 18px;
}

#sub {
  background-color: #F1F1F1;
}

.group>* {
  text-align: left;
  font-family: Menlo, monospace;
  font-size: 15px;
  color: #3f3f3f;
}

#sub-search {
  margin: 0px;
  font-size: 12px;
  border-radius: 3px;
}

.sort_feature {
  text-align: center;
  font-family: Menlo, monospace;
}

.sort_feature>button {
  border: 0px;
  border-radius: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 10px;
  font-size: 15px;
  font-family: inherit;
  color: #3f3f3f;
  background-color: #d2d2d2;
}

/* set the flight info style */
.airline_img {
  grid-area: img;
  width: 70%;
  align-self: center;
}

.flight_info {
  grid-area: fit;
  display: grid;
  grid-template-columns: auto auto auto;
}

.flight-wrap {
  grid-column: 1 / 3;
  align-self: center;
}

.price {
  grid-area: prc;
  font-size: 20px;
  align-self: center;
  justify-self: center;
}

.checkout {
  grid-area: chk;
}

.flight, .a-flight {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(10, 1fr);
  text-align: left;
  grid-template-areas:
    "img fit fit fit fit fit fit fit prc chk";
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
  padding: 15px;
  margin-bottom: 15px;
  color: #3f3f3f;
}

.a-flight {
  width: 80%
}

.flight span {
  margin: 10px;
}

.airline_name {
  font-size: 20px;
}

.time_scope {
  font-size: 30px;
}

.checkout, button {
  font-size: 16px;
  padding: 12px 12px;
  background-color: #5C70A7;
  color: white;
  font-family: Menlo, monospace;
}

.airport_info {
  align-self: center;
}

input, select, button {
  outline: none;
  cursor: pointer;
}

/***************************************************************/
/**************** style for view ticket page *******************/
/***************************************************************/
.ticket-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 5em;
  /* background: url('../image/hp-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.ticket {
  display: grid;
  grid-template-columns: 50% 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "airline . . ."
    "flight price user user"
    "flight duration seat seat"
    "date . . logo";
  align-items: center;
  background: #FFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
  padding: 15px;
  margin-bottom: 15px;
  color: #3f3f3f;
  line-height: 150%;
  height: 20em;
  width: 70%;
}

.ticket-airline, .ticket-flight, .ticket-duration,
.ticket-date, .ticket-seat, .ticket-user, .ticket-price, .t-logo {
  font-family: 'VT323';
  align-self: center;
  justify-self: center;
  font-size: 2em;
}

.ticket-airline {
  grid-area: airline;
  font-size: 3.5em;
  justify-self: start;
}

.ticket-price {
  grid-area: price;
  font-size: 2.5em;
  font-weight: bold;
}

.ticket-flight {
  grid-area: flight;
  font-size: 2.5em;
  line-height: 150%;
  justify-self: start;
}

.ticket-duration {
  grid-area: duration;
}

.ticket-date {
  grid-area: date;
}

.ticket-user {
  grid-area: user;
}

.ticket-seat {
  grid-area: seat;
}

.ticket-logo {
  grid-area: logo;
}

.ticket-logo img {
  width: 100%;
}

/***************************************************************/
/**************** style for customer page *******************/
/***************************************************************/
/* .map_container{
  grid-area: map;
}

.flight_container{
  grid-area: fit;
} */
#select_seat {
  display: flex;
  justify-content: center;
}

/* .containers {
  margin-right: 50px;
} */
.customer_container {
  margin-top: 30px;
  padding-top: 30px;
  margin-left: 30px;
  width: 250px;
  height: 450px;
  font-size: 15px;
  color: #3f3f3f;
  background-color: #d5d5d5;
}

#order-msg {
  margin-top: 3em;
  padding-left: 2em;
  font-weight: bold;
}

.customer_container>input {
  padding: 5px;
  width: 40%;
  margin-left: 10px;
  margin-bottom: 13px;
  border: none;
  font-size: 18px;
  color: #5C70A7;
  display: inline-block;
  float: left;
  font-family: Menlo, monospace;
}

#seat-row, #seat-number {
  width: 15%;
}

.customer_container>span {
  display: inline-block;
  margin-left: 10px;
  float: left;
  clear: left;
  width: 80px;
  text-align: right;
  margin-top: 6px;
}

.customer_container>select {
  font-size: 15px;
  margin-bottom: 10px;
  color: #5C70A7;
  margin-left: 10px;
  padding: 10px;
}

.customer_container>p {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.order {
  margin: 25%;
  padding: 8px 30px;
  font-size: 20px;
  margin-right: 25%;
  font-family: Menlo, monospace;
  background-color: #809bd4;
  border-radius: 3px;
}

.view-ticket {
  margin: 20%;
  padding: 8px 30px;
  font-size: 15px;
  margin-right: 20%;
  font-family: Menlo, monospace;
  background-color: #809bd4;
  border-radius: 3px;
}

.show_ticket {
  background-color: Transparent;
  padding: 0;
}

/***** hide instance id ******/
#instance-id {
  display: none;
}

.show_ticket>* {
  display: none;
}

/*****style for the collapsible******/
.collapsible {
  background-color: #f3f3f3;
  color: #3f3f3f;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 0;
}

.active, .collapsible:hover {
  background-color: #ffffff;
}

.ticket_content {
  padding: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.ticket_content>.ticket {}
